*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

html{
scroll-behavior:smooth;
}

body{

background:#07121f;

color:white;

overflow-x:hidden;

}



.bg{

position:fixed;

width:100%;

height:100%;

background:

radial-gradient(
circle at top left,
#00d7ff22,
transparent
),

radial-gradient(
circle at bottom right,
#6f3cff22,
transparent
);

z-index:-1;

}



nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:22px 8%;

position:fixed;

width:100%;

top:0;

z-index:1000;

backdrop-filter:blur(20px);

background:

rgba(0,0,0,.15);

}



.logo{

font-size:30px;

font-weight:bold;

color:#00d7ff;

}



ul{

display:flex;

gap:30px;

list-style:none;

}



a{

color:white;

text-decoration:none;

}



section{

padding:110px 8%;

}



.hero{

display:flex;

justify-content:space-between;

align-items:center;

min-height:100vh;

gap:70px;

}



.hero h1{

font-size:58px;

}



#typing{

margin:18px 0;

font-size:30px;

color:#00d7ff;

}



.hero p{

line-height:1.8;

color:#d7d7d7;

}



.buttons{

display:flex;

gap:20px;

margin-top:25px;

}



button{

padding:16px 28px;

border:none;

border-radius:16px;

font-weight:bold;

cursor:pointer;

background:#00d7ff;

transition:.35s;

}



button:hover{

transform:

translateY(-6px);

}



.outline{

background:transparent;

border:1px solid #00d7ff;

color:white;

}



.profile{

width:380px;

height:380px;

object-fit:cover;

border-radius:50%;

border:6px solid #00d7ff;

box-shadow:

0 0 80px #00d7ff55;

animation:

float 4s ease infinite;

}



@keyframes float{

0%{

transform:

translateY(0);

}

50%{

transform:

translateY(-12px);

}

100%{

transform:

translateY(0);

}

}



.card,

.project,

.grid div{

background:

rgba(255,255,255,.05);

padding:30px;

border-radius:22px;

backdrop-filter:blur(20px);

}



.grid{

display:grid;

grid-template-columns:

repeat(
auto-fit,
minmax(220px,1fr)
);

gap:22px;

}



.grid div:hover,

.project:hover{

background:#00d7ff;

color:black;

transform:

translateY(-10px);

transition:.4s;

}



.projects{

display:grid;

grid-template-columns:

repeat(
auto-fit,
minmax(320px,1fr)
);

gap:24px;

}



h2{

margin-bottom:30px;

color:#00d7ff;

}



footer{

padding:40px;

text-align:center;

color:#888;

}



.hidden{

opacity:0;

transform:

translateY(80px);

}



.show{

opacity:1;

transform:none;

transition:1s;

}



@media(max-width:900px){

nav{

flex-direction:column;

gap:18px;

}



ul{

flex-wrap:wrap;

justify-content:center;

}



.hero{

flex-direction:column-reverse;

text-align:center;

padding-top:150px;

}



.hero h1{

font-size:40px;

}



.profile{

width:260px;

height:260px;

}



.projects{

grid-template-columns:1fr;

}



.grid{

grid-template-columns:1fr;

}



.buttons{

justify-content:center;

flex-wrap:wrap;

}

}



@media(max-width:480px){

button{

width:100%;

}

}